---
import type { NavItem } from "@/libs/types/navItem";
import PcNavMenu from "./HeaderNavMenu.astro";
import { SpDrawerMenu } from "./SpDrawerMenu";

const navItems: NavItem[] = [
  { href: "/posts", label: "Posts" },
  { href: "/about", label: "About" },
];
---

<header class="flex justify-between w-full h-16 items-center bg-white border-b">
  <div class="mx-auto flex w-full items-center justify-between container px-2">
    <a href="/"> Hello World!! </a>

    <SpDrawerMenu client:load navItems={navItems} />

    <PcNavMenu navItems={navItems} />
  </div>
</header>
