---
import { cn } from "@/libs/utils/cn";
type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div class={cn("container px-2 sm:px-4 max-w-screen-lg", className)}>
  <slot />
</div>
